<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
        <h1>Input number: <%= inputNumber %> </h1>
        <h1>Square of above input number: <%= resultNumber %> </h1>
        <h2>Kathleen Falcon</h2>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>