<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous">Home</span>
            </a>
            <a class="navbar-brand" href="/square">
                <span class="glyphicon">Square</span>
            </a>
            <a class="navbar-brand" href="/cube">
                <span class="glyphicon">Cube</span>
            </a>
            <a class="navbar-brand" href="/about">
                <span class="glyphicon">About</span>
            </a>
        </div>
    </div>
</nav>